.nav{
    width:auto;
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-bottom:1px solid grey;
    margin-bottom:50px;
    justify-content:space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:#5cab7d;
}



.select{
    width:20%;
    height:30px;
    outline:none;
    border:0;
    background-color: transparent;
}

.inputBox{
    width: 20%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding-left: 10px;
    
}

.inputBox img{
    height: 15px;
    cursor: pointer;

}
.search{
    width:100%;
    height:30px;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
    outline: none;
   
}

.check{
    height: 20px;
}

@media (min-width: 0px) and (max-width: 767px) { 
    .nav{
        display:none;
    }
}