/* width */

body{
}
.divBody{
    display:flex;
    flex-direction: row;
    max-width: 950px;
    justify-content: center;
    margin:auto;
    justify-content: space-around;
    margin-top:100px;
} 


.lowerSideBar h3{
    padding:.4rem
}
.lowerSideBar h3:hover{
    background-color: #5cab7d;
    color:white;
    cursor:pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.row1{ 
    display:flex;
    flex-direction: column;
    align-items:center;
    height:100vh;
    box-shadow: 1px 1px 3px 3px rgba(221, 210, 210, 0.596);
    width:60%
}
.detailsForm{
    display:flex;
    flex-direction:column;
    width:330px
}
.row2{
    display:flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px 3px rgba(221, 210, 210, 0.596);
    align-items:center;
    height:300px;
    width:30%
}


 /* Media Query for Mobile Devices */  

 /* mobile phone ?? */
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 0px) and (max-width: 767px) { 
    body { /* background-color: red;  */ } 
    .divBody{
        margin-top:40px;
    }
    .row1{ width:100%;box-shadow: 0px 0px 0px 0px; }
    .row2{ flex:1; display:none; max-width:100%;padding-top:45px }
    .detailsForm{
        width:90%
    }
    .divThree{ flex:0; display:none; }
} 
  
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ 
    .row1{  }
    .row2{  }
    .divThree{ flex:1; display:none; }
} 
  
/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){ 
    body { /* background-color: green;  */ } 
} 
  
/* Media Query for Large screens */ 
@media (min-width: 1281px) { 
    body { /* background-color: white;  */ } 
} 

@media only screen and(max-width: 700px) { 
   
} 
/* weird phones like samsung galaxy fold */